<div style="display: block">
  <canvas baseChart
          [data]="chartData"
          [labels]="chartLabels"
          [chartType]="chartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>
