
<!doctype html>
<style>
body { text-align:center;font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
h1   {text-align:center;}
h2   {text-align:center}
table.dataframe, .dataframe th, .dataframe td {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em
}
th {
  background-color: #4CAF50;
  color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
</style>
<title></title>
<div class=page>
  <h1>Put Options</h1>
  {% for table in tables %}
    {{ table|safe }}
  {% endfor %}
</div>