<div style="width: 400px; margin: auto;">
  <div *ngIf="currentStock" class="edit-form">
    <h4>Stock</h4>
    <form>
      <div class="form-group">
        <label for="ticker">Ticker</label>
        <input
          type="text"
          class="form-control"
          id="ticker"
          [(ngModel)]="currentStock.ticker"
          name="ticker"
        />
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input
          type="text"
          class="form-control"
          id="amount"
          [(ngModel)]="currentStock.amount"
          name="amount"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentStock.state ? "Null" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentStock.published"
      (click)="updateState(Null)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentStock.published"
      class="badge badge-primary mr-2"
      (click)="updateState(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteStock()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success"
      (click)="updateStock()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentStock">
    <br />
    <p>Cannot access this Stock...</p>
  </div>
</div>