

<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by ticker"
        [(ngModel)]="ticker"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTicker()"
        >
          Search
        </button>
      </div>
    </div>
  </div>

  <div>
    <h4>Trading List</h4>

    <table width="100%" border="0.1" class="table table-striped table-responsive-md btn-table">
      <thead class="black white-text">
      <tr>
        <th>Date</th>
        <th>Ticker</th>
        <th>Price Bought</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Type</th>
      </tr>
      </thead>
      <tr
        *ngFor="let stock of stocks; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveStock(stock, i)">
        <td>{{ stock.created }} </td>
        <td>{{ stock.ticker }} </td>
        <td>{{ stock.requestedPrice }}</td>
        <td> {{ stock.stockQuantity }} </td>
        <td> {{ stock.status }} </td>
        <td> {{ stock.type }} </td>
      </tr>
    </table>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllStocks()">
      Remove All
    </button>

  </div>


  <div>
    <div *ngIf="currentStock">
      <h4>Trade Detail</h4>
      <div>
        <label><strong>Stock:</strong></label> {{ currentStock.ticker }}
      </div>
      <div>
        <label><strong>Stock Quantity:</strong></label>
        {{ currentStock.stockQuantity }}
      </div>
      <div>
        <label><strong>Requested Price:</strong></label>
        {{ currentStock.requestedPrice}}
      </div>

      <a class="badge badge-warning" routerLink="/stocks/{{ currentStock.id }}">
      </a>

      <a href="/{{currentStock.ticker}}" target="_blank" onclick="javascript:event.target.port=5000"> Real-Time Price and Advice
      </a> &nbsp;&nbsp;

      <a href="/plot/{{currentStock.ticker}}" target="_blank" onclick="javascript:event.target.port=5000"> Get Price History Graph
      </a> &nbsp;&nbsp;

      <a href="/plot/volatility/{{currentStock.ticker}}" target="_blank" onclick="javascript:event.target.port=5000"> Compare Volatility
      </a> &nbsp;&nbsp;

      <a href="/fundamentals/{{currentStock.ticker}}" target="_blank" onclick="javascript:event.target.port=5000"> Get Financials
      </a> &nbsp;&nbsp;

      <a href="/candlesticks/{{currentStock.ticker}}" target="_blank" onclick="javascript:event.target.port=5000"> Get Candlestick Graph
      </a> &nbsp;&nbsp;

      <a href="/options/calls/{{currentStock.ticker}}" target="_blank" onclick="javascript:event.target.port=5000"> View Call Options
      </a> &nbsp;&nbsp;

      <a href="/options/puts/{{currentStock.ticker}}" target="_blank" onclick="javascript:event.target.port=5000"> View Put Options
      </a>
    </div>

    <div *ngIf="!currentStock">
      <br />
      <p> </p>
    </div>
  </div>
</div>
