ul {
    float:left;
    clear:right;
    padding:5px;
}
li {
    display: table-cell;
    float:left;
    clear:right;
    padding:5px;
}

td,th{
    padding: 5px 50px;
    }
 
#table2 {
				border-collapse: separate;
				border-spacing: 15px;
			}