
<div>
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <img src="https://safoodbank.org/wp-content/uploads/2018/07/citi-logo-300x300.png"
    style="width:100px;height:100px;margin:5px;"

    >
    <a href="#" class="navbar-brand">Trading 2020</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="stocks" class="nav-link">Stocks</a>
      </li>
      <li class="nav-item">
        <a routerLink="portfolio" class="nav-link">Portfolio</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Trade</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
