<div style="width: 400px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Ticker</label>
        <input
          type="text"
          class="form-control"
          id="ticker"
          required
          [(ngModel)]="stock.ticker"
          name="ticker"
        />
      </div>

      <div class="form-group">
        <label for="stockQuantity">stockQuantity</label>
        <input
          type="number"
          class="form-control"
          id="stockQuantity"
          required
          [(ngModel)]="stock.stockQuantity"
          name="stockQuantity"
        />
      </div>

      <div class="form-group">
        <label for="requestedPrice">Price</label>
        <input
          type="number"
          class="form-control"
          id="requestedPrice"
          required
          [(ngModel)]="stock.requestedPrice"
          name="requestedPrice"
        />
      </div>

      <div class="form-group">
        <label for="type"></label>
        <input
          type="hidden"
          class="form-control"
          id="type"
          required
          [(ngModel)]="stock.type"
          name="type"
        />
      </div>

      <button 
      id="BUY" (click)="buy();saveStock()" class="btn btn-success" style="margin:5px;">Buy</button>

      <button 
      id="SELL" (click)="sell();saveStock()" class="btn btn-success" style="margin:5px;">Sell</button>
    </div>


    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newStock()">Add</button>
    </div>

    
  </div>
</div>